@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --primary-color: #2563EB;
    --light-purple: #C4B5FD;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin: 0;
}

section {
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--light-purple);
    color: var(--primary-color);
    box-sizing: border-box;
}

button {
    cursor: pointer;
    color: blue;
    background-color: white;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.5rem;
}

input {
    width: 80%;
    padding: 1rem 1rem;
    height: 30px;

}

#output table,
th,
td {
    padding: 0.1rem;
    color: var(--primary-color);
    background-color: white;
}

.noOfNotes {
    background-color: white;
    font-weight: bold;
}

table {
    width: 100%;
    table-layout: fixed;
}

#inputbox,
#output {
    display: none;
}

.error {
    display: none;
    color: red;
}

@media (min-width: 768px) {
    .box {
        margin-top: 1rem;
    }
}